<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="addCourse">
    <table>
        <tr>
            <td>课程类别</td>
            <td>
                <select name="kid">
                    <option value="1">IT&互联网</option>
                    <option value="2">语言&留学</option>
                    <option value="3">职业&考证</option>
                    <option value="4">兴趣&生活</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>课程名</td>
            <td><input name="cname"/></td>
        </tr>
        <tr>
        <td>本节标题</td>
        <td><input name="title"/></td>
        </tr>
        <tr>
        <td>上传课程封面</td>
        <td><input type="file" name="img"/></td>
        </tr>
    </table>
</form>
</body>
</html>