<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程列表页</title>
    <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/courseslist.js}" type="text/javascript"></script>
</head>
<body>
<script type="text/javascript>">
    window.onload = testalert;
</script>
<div>
<h1>课程列表</h1>
<div id="courses">
    <table>
    <tr></tr>
</table>
</div>
</div>
</body>
</html>